/* HTML Elements */
body,
html {
	background-color: #CFB39C/*Light Gravel Brown*/ /*#152022/*Dark Green*/;
	font-family: Serif;
	height: 100%;
}
h2 {
	font-family: "Londrina Sketch", cursive;
	font-size: 4rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-family: "Amatic SC", cursive;
	font-size: 3rem;
}
a.one {
	color: black;
}
a.two {
	color: white;
	text-decoration: underline;
}
footer {
	color: white;
	align-items: flex-end;
}
nav {
	background-color: #192324 /*Dark Shadow*/
	/*#373C3A/*Dark Green*/;
}

/* ID's */
#FirstBlock {
	background-color: #F2E7D2/*Sunset Glow*/;
}
#ConnectText {
	font-size: 1.35rem;
}
#Footer {
	padding: 2rem;
}
#InfoBox {
	background-color: rgb(200, 200, 200, 0.4);
	color: white;
	padding-right: 1rem;
}
#InfoBoxSub {
	font-family: "Amatic SC", cursive;
	font-size: 1.75rem;
}
#SocialIcon {
	height: 3.5rem;
	transform: translate(0rem,-1rem);
}
#SocialText {
	color: black;
	font-size: 1.75rem;
	font-family: "Fredericka the Great", cursive;
}
	/*Hiding #SocialText and bumping up #SocialIcon for Low-Width Viewports*/
	@media only screen and (max-width: 480px) {
	#SocialIcon {
		height: 6rem;
	}
  #SocialText {
    display: none;
  }
}
#VanityImage {
	height: 9rem;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

/* CSS Classes */
.bottom-left {
	position: absolute;
	bottom: 15%;
	left: 1rem;
}
.card-body {
  background-color: #4F4C21/*Foilage Green*/;
}
.card-text {
	color: white;
	font-family: "Nanum Pen Script", cursive;
	font-size: 1.5rem;
}
.nav-link {
	font-size: 1.5rem;
}
.parallax-A {
	background-color: #F9AB62/*Afterglow Orange*/;
	background-image: url("https://drive.google.com/uc?id=188nntk9yYHb32mCVBm9gFNVi9LDOo6sp");
  /* Full Height */
	height: 100%;
	/* Parallax Scrolling Effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-B {
	background-color: #A59B77/*Muted Sun*/;
	background-image: url("https://drive.google.com/uc?id=1I561dXDVL7HAxsTM2x6Mb8_1mm5mRknt");
  /* Full Height */
	height: 50%;
	/* Parallax Scrolling Effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.shadowtext {
	/* This is "Close and Heavy" from https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/ */
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
		0px 18px 23px rgba(0, 0, 0, 0.1);
}

